name: CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build_and_test:
    name: NPM Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          
      - name: Install dependencies
        run: npm ci
        
      - name: Run Linter
        run: npm run lint
        
      - name: Run Build
        run: npm run build
        
      - name: Run Tests
        run: npm test -- --watch=false

  deploy_dev:
    name: Deploy to Dev
    needs: build_and_test
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: SSH Deployment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            mkdir -p ~/apps/zamadev-dev
            cd ~/apps/zamadev-dev
            [ -d .git ] || git clone https://github.com/jczamarripaz/zamadev.git .
            git pull origin main
            export PORT=3000
            export CONTAINER_NAME=zamadev-dev
            docker compose up -d --build

  deploy_test:
    name: Deploy to Test
    needs: deploy_dev
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: SSH Deployment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            mkdir -p ~/apps/zamadev-test
            cd ~/apps/zamadev-test
            [ -d .git ] || git clone https://github.com/jczamarripaz/zamadev.git .
            git pull origin main
            export PORT=3001
            export CONTAINER_NAME=zama-test
            docker compose up -d --build

  deploy_prod:
    name: Deploy to Prod
    needs: deploy_test
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: SSH Deployment
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            mkdir -p ~/apps/zamadev-prod
            cd ~/apps/zamadev-prod
            [ -d .git ] || git clone https://github.com/jczamarripaz/zamadev.git .
            git pull origin main
            export PORT=8080
            export CONTAINER_NAME=zamadev-prod
            docker compose up -d --build